@using SyncthingWebUI.Extensions
@model SyncthingWebUI.Helpers.PagingResult<SyncthingWebUI.Models.ApplicationUser, SyncthingWebUI.Commands.Implementations.Users.GetUsersQuery>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Users list</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>E-mail</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model.Items)
                        {
                            <tr>
                                <td>@user.Email</td>
                                <td>
                                    @if (ViewBag.SuperAdmin != user.Id)
                                    {
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Allowed", new {id = user.Id})">Folders</a>

                                         if (user.IsEnabled)
                                         {
                                             using (Html.BeginForm("Deactive", "Home", new {area = "Users"}, FormMethod.Post, new {@class = "inline"}))
                                             {
                                                 @Html.Hidden("id", user.Id)
                                                 @Html.AntiForgeryToken()
                                                 <button class="btn btn-warning btn-sm" type="submit">Deactive</button>
                                             }
                                         }
                                         else
                                         {
                                             using (Html.BeginForm("Active", "Home", new {area = "Users"}, FormMethod.Post, new {@class = "inline"}))
                                             {
                                                 @Html.Hidden("id", user.Id)
                                                 @Html.AntiForgeryToken()
                                                 <button class="btn btn-success btn-sm" type="submit">Active</button>
                                            }
                                        }

                                        <a class="btn btn-info btn-sm" href="@Url.Action("ChangePassword", "Manage", new { area = "Users", id = user.Id })">Change password</a>
                                    }
                                    else
                                    {
                                        <label>Cannot modyify super admin</label>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    @Html.AdminLteUI().Pager("Index", "Home", new { area = "Users" }, Model.Query.Page, Model.PageSize, Model.Count, builder => builder.WithRouteValues(Model.Query))
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
